<% content_for :body_class, 'tool' %>
<div id="container">
  <header>
    <div class="left">
      <h1><a href="/">CARBON &amp; BIODIVERSITY CALCULATOR</a></h1>
      <p>a joint product of The CBD Secretariat, LifeWeb and UNEP-WCMC</p>
    </div>
    <div class="right">
      <ul>
        <li><a class="no_bkg" href="/about">ABOUT</a></li>
        <li><a href="#share" class='share_button'><span><strong>SHARE</strong> THIS LAYER</span></a></li>
      </ul>
      <div class="share_tooltip">
          <a href='#' class="close"></a>
          <h1>share your layer using this link</h1>
          <input class="link" value=""  readonly="readonly"></input>
      </div>
    </div>
  </header>
  <div id="main" role="main">
      <div class="map_container" id="main_map">
          <div class="map"></div>
          <!-- zoom-control -->
          <div class="zoom_control">
            <a href="#zoom_in" class="zoom_in">zoom_in</a>
            <a href="#zoom_out" class="zoom_out">zoom_out</a>
          </div>
          <!-- end zoom control -->
          <!--
          <div class="layer_editor">
              <a href="#" class="layer_raster"></a>
              <a href="#" class="layer_google_maps"></a>
          </div>
          -->
          <div class="crosshair">
              <%= image_tag "icons/crosshair_map.png" %>
          </div>
          <div class="tiles_info"><span></span></div>
          <div class="layers">
              <a href="#view" class="view"><span><b>LAYERS</b></span></a>
              <div class="show">
                  <span class="top"></span>
                  <ul class="dropdown">
                  </ul>
              </div>
          </div>

          <!-- search box -->
          <div class="search">
            <h1>search</h1>
            <input type='text' placeholder='............................' />
            <a href="#search">&nbsp;&nbsp;</a>
          </div>

          <div id="polygon_popup">
              <a id='done' href="">done</a>
              <a id='delete' href="">delete</a>
          </div> <!-- polygon_popup -->

          <div id="polygon_add_popup">
              <a id='add' href="">add</a>
              <a id='cancel' href="">cancel</a>
          </div> <!-- polygon_add_popup -->

          <div id="protected_popup" class="popup_text">
              <div class="top"></div>
              <div class="center">
                <a href='#' class="close"></a>
                <h1 class="name">name</h1>
              </div>
              <div class="bottom">
                <a id='add_protected' href="#"><span>add this to the analysis</span></a>
              </div>
          </div> <!-- polygon_popup -->

          <a class="cartodb_logo" href="http://cartodb.com"></a>
      </div>

      <div id="panel">
          <div id="tabs">
              <ul>
                 <li class="add"><a href="#add_new_one" class="add">+</a></li>
                 <li class="total last"><a href="#summary">summary</a></li>
              </ul>
          </div>
          <div id="tab_content">
          </div>
          <!-- tooltip -->
          <div class="list_tooltip">
          </div>
          <%= render "shared/help_tooltips" %>
      </div>

      <div id="start_banner">
          <div class="inner">
              <div class="help">
                <h1>welcome to the carbon calculator</h1>
                  <p>This tool provides an initial estimate for the potential contribution of any area of your interest to climate change mitigation as well as information on its conservation values, forest status and opportunities for forest and landscape restoration. <b>A</b>reas <b>O</b>f <b>I</b>nterest (<b>AOI</b>s) can be drawn on the map or uploaded to the tool.</p>
                  <button id="create_work"><span class="button_info">Start</span></button>
              </div> <!-- help -->
          </div> <!-- inner -->
      </div>

    <div id="error_dialog">
      <div class="error_wrapper">
        <!--<a href='#' class="close"></a>-->
        <!--<h1 id="title">ERROR</h1>-->
        <p id="error_text">An error ocurred</p>
        <a id="ok" href="#">ok</a>
      </div>
    </div>
    <div id="upload_box">
        <div class="inner">
            <h1>Upload a layer to analyse</h1>
            <div id='upload-form'>
              <p>
                Formats supported are Shapefile, KML, CSV and GeoJSON. Shapefiles should be uploaded as a zipped archive containing all the mandatory files (.shp, .shx, .dbf).</p><p><br/>
                The preferred projection for all filetypes is WGS-84 (EPSG:4326). If you have any problems uploading, please reproject your file and try again.
                <br/>
              </p>
              <%= form_tag upload_layer_file_url, :multipart => true do%>
                <%= hidden_field_tag "layer_id" %>
                <p>
                  <label>Layer name</label>
                  <%= text_field_tag "layer[name]"%>
                <p>
                  <%= file_field_tag "layer[user_layer_file]", :id => 'user_layer_file' %>
                </p>
              <% end %>
              <p id="status"></p>
            </div>
            <button class="close"><span class="button_info">Cancel</span></button>
            <button class="submit"><span class="button_info">Upload</span></button>
        </div> <!-- inner -->
    </div>
  </div>

  <footer>
  </footer>
</div> <!--! end of #container -->

<!--[if lt IE 7 ]>
  <script src="js/libs/dd_belatedpng.js"></script>
  <script>DD_belatedPNG.fix("img, .png_bg"); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
<![endif]-->
