<div class="inner">
    <h1>File Uploaded - Select Fields</h1>
    <div id='upload-form'>
      <p>Please tell us which of these fields is the <b>layer name</b> and which is the <b>classifier</b> <i>(This enables you to define which column in your table contains the 'names' of the features, and which column you want to choose as your classifier)</i></p>
      <form action="/layers/<%= layer_id %>/select_fields/" method="post">
        <table id='field-picker-table'>
          <thead>
            <tr>
              <td class='wider'>Field Name</td>
              <td>Name</td>
              <td>Class</td>
            </tr>
          </thead>
          <tbody>
            <%
              var field= '', isName=false, isClass=false, nameFound = false, classFound = false;
              for(var i=0, il=fields.length; i < il; i++) {
                field = fields[i];

                isName = field.match(/.*name.*/i) && !nameFound;
                nameFound = isName || nameFound;

                isClass = field.match(/.*class.*/i) && !classFound;
                classFound = isClass || classFound;
            %>
              <tr>
                <td class='wider'><%= field %></td>
                <td>
                  <input type="radio" name="name" value="<%= field %>" <%= isName ? 'checked=true' : '' %>/>
                </td>
                <td>
                  <input type="radio" name="class" value="<%= field %>" <%= isClass ? 'checked=true' : '' %>/>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </form>
    </div>
    <button class="close"><span class="button_info">Cancel</span></button>
    <button class="select"><span class="button_info">Select</span></button>
</div> <!-- inner -->
