<% if(classes.length > 0) { %>
  <div class="classes_wrap">
    <div class="classes_filters">
      <div class="classes_summary">
        <h2>
          <p href="#edit" class="edit">
            <%= selected_class %> selected (<%= selected_count %> polygons). <a class='select_classes' href="#classes_selection">Select another?</a>
          </p>
        </h2>
      </div>
    </div>

    <div class="classes_list" style="display:none">
      <ul>
        <li class='select_class' data-id='<%= window.ALL_CLASSES %>' data-colour='black'><span class="class-square"><i style="background-color: black"></i></span><%= window.ALL_CLASSES %></li>
        <% for(var c = 0; c < classes.length; c++) { %>
          <li class='select_class' data-id='<%= classes[c][2] %>' data-name='<%= classes[c][0] %>' data-colour='<%= classes[c][1] %>'><span class="class-square"><i style="background-color: <%= classes[c][1]%>"></i></span><%= classes[c][0] %></li>
        <% } %>
        <li class='select_class' data-id='<%= window.NO_CLASS %>' data-colour='white'><span class="class-square"><i style="background-color: white"></i></span><%= window.NO_CLASS %></li>
      </ul>
    </div>

    <% if(selected_class !== null) { %>
      <h2 class="selected_class<% if(selected_class !== window.NO_CLASS && selected_class !== window.ALL_CLASSES) { %> select_colorpicker<% } %>" data-id="<%= selected_class_id %>" data-name='<%= selected_class %>' data-colour="<%= selected_colour %>"><span class="class-square"><i style='background-color: <%= selected_colour %>'></i></span> <%= selected_class %> selected.</h2>
    <% } %>
  </div>
<% } %>

<div class="layer_stats"<% if(selected_class === null) { %> style="top: 80px"<% } %>>
  <% if(stats.carbon) { %>
    <% var area_in_hectares = Math.round(stats.carbon.area / 1000); %>
    <% if (area_in_hectares <= 400) { %>
      <div class="alert warning">
        The polygon you have selected is very small. Because of the resolution
        of the data, the resulting calculations may not be reliable. If
        possible, please select a larger polygon.
      </div>
    <% } %>

    <div class="block">
        <span class="title">
            <h2>CARBON</h2>
            <p><% print(number_format(stats.carbon.qty)); %><small>T</small></p>
        </span>
        <% if(stats.carbon) { %>
        <ul class="normal list">
          <% if(stats.carbon.countries.length === 0) { %>
            <ul><li class="last"></li></ul>
          <% } else { %>
              <% _.each(stats.carbon.countries, function(ct, idx) { %>
              <% if( idx == (stats.carbon.countries.length - 1)) { %>
              <li class="last">
              <% } else { %>
              <li>
              <% } %>
                    <h5><%= ct.name %></h5>
                    <p class="info"><% print(number_format(ct.qty)); %> T</p>
              </li>
              <% }); %>
          <% } %>
        </ul>
        <% } %>
    </div>
  <% } %>

  <% if(stats.carbon_sequestration) { %>
    <div class="block">
      <span class="title">
        <% if (stats.carbon_sequestration.qty.toFixed(0).length > 7) { %>
            <h2>C SEQ POT</h2>
        <% } else { %>
            <h2>C SEQ POTENTIAL</h2>
        <% } %>
            <p><% print(number_format(stats.carbon_sequestration.qty)); %><small>T</small></p>
        </span>
        <ul class="normal list">
            <li></li>
        </ul>
    </div>
  <% } %>


  <% if(stats.covered_by_PA && stats.carbon_sequestration) { %>
    <div class="block">
        <span class="title">
            <h2>COVERED BY PROTECTED AREAS</h2>
            <p><% print(Math.min('100', (1e8*stats.covered_by_PA.km2/stats.carbon_sequestration.area).toFixed(0))); %><small>%</small></p>
        </span>
        <ul class="normal list">
          <li>
            Overlapping with <%= stats.covered_by_PA.num_overlap %> Protected Area(s)
          </li>
        </ul>
    </div>
  <% } %>

  <% if(stats.covered_by_KBA) { %>
    <div class="block">
        <span class="title">
            <h2>COVERED BY KEY BIODIVERSITY AREAS</h2>
            <p><%= stats.covered_by_KBA.percent.toFixed(0) %><small>%</small></p>
        </span>
        <ul class="normal list">
          <li>
            Overlapping with <%= stats.covered_by_KBA.num_overlap %> Key Biodiversity Area(s)
          </li>
      </ul> 
    </div>
  <% } %>

  <% if(stats.restoration_potential) { %>
    <div class="block">
        <span class="title">
            <h2>FOREST RESTORATION POTENTIAL</h2>
            <p>&nbsp;</p>
        </span>
        <ul class="inline list">
            <li>
                <h5>WIDE-SCALE</h5>
                <p class="info"><%=stats.restoration_potential.wide_scale.toFixed(0)%>%</p>
            </li>
            <li>
                <h5>MOSAIC</h5>
                <p class="info"><%=stats.restoration_potential.mosaic.toFixed(0) %>%</p>
            </li>
            <li>
                <h5>REMOTE</h5>
                <p class="info"><%=stats.restoration_potential.remote.toFixed(0) %>%</p>
            </li>
            <li class="last">
                <h5>NONE</h5>
                <p class="info"><%=stats.restoration_potential.none.toFixed(0) %>%</p>
            </li>
        </ul>
    </div>
  <% } %>

  <% if(stats.conservation_priorities && stats.conservation_priorities.length > 0) { %>
    <div class="block">
        <span class="title">
            <h2>CONSERVATION PRIORITIES</h2>
            <p>&nbsp;</p>
        </span>
        <% _.each(stats.conservation_priorities, function(area) { %>
        <span class="conservation_header"><p><%= area.name %></p></span>
        <ul class="inline list">
           <li>
                          <h5>EXTR-HIGH</h5>
                          <p class="info"><%= area.percents[0].toFixed(0) %>%</p>
                      </li>
                      <li>
                          <h5>VERY-HIGH</h5>
                          <p class="info"><%= area.percents[1].toFixed(0) %>%</p>
                      </li>
                      <li>
                          <h5>HIGH</h5>
                          <p class="info"><%= area.percents[2].toFixed(0) %>%</p>
                      </li>
                      <li class="last">
                          <h5>NO PRIORITY</h5>
                          <p class="info"><%= area.percents[4].toFixed(0) %>%</p>
                      </li>
        </ul>
        <% }); %>
    </div>
  <% } %>

  <% if(stats.forest_status) { %>
    <div class="block">
        <span class="title">
            <h2>FOREST STATUS</h2>
            <p>&nbsp;</p>
        </span>
        <ul class="normal list">
          <li><h5>% Defined as intact forest</h5><p class="info "><%= stats.forest_status.intact.toFixed(0) %>%</p></li>
          <li><h5>% Defined as fragmented/managed forest</h5><p class="info "><%= stats.forest_status.fragmented.toFixed(0) %>%</p></li>
          <li><h5>% Defined as partially deforested areas</h5><p class="info "><%= stats.forest_status.partial.toFixed(0) %>%</p></li>
          <li><h5>% Defined as deforested areas</h5><p class="info "><%= stats.forest_status.deforested.toFixed(0) %>%</p></li>
        </ul>
    </div>
  <% } %>


  <% if(stats.carbon_sum) { %>
    <div class="block">
        <span class="title">
            <h2 class="nohelp">CARBON</h2>
            <p><% print(number_format(stats.carbon_sum.qty)); %><small>T</small></p>
        </span>
        <ul class="normal list tooltip">
          <% _.each(stats.carbon_sum.polygons, function(p, idx) { %>
            <% if( idx == (stats.carbon_sum.polygons.length - 1)) { %>
            <li class="last">
            <% } else { %>
            <li>
            <% } %>
            <!-- tooltip -->

            <div class="list_tooltip_data">
              <h4><%= p.polygon %></h4>
              <span class="blue">
                  <h6><%= number_format(p.carbon) %> T</h6>
                <p>Carbon</p>
              </span>
              <span class="white">
                <h6><%= number_format(p.carbon_sequestration) %>T</h6>
                <p>RestP: Max. Extra Carbon</p>
              </span>
            </div>

            <h5 class="stats"><%= p.polygon %></h5>
                <div class="stats_bar">
                    <span class="r_bar" style="width: <%= p.percent %>%"></span>
                    <div class="stats_bar inner" style="width: <%= p.percent_seq %>%">
                        <span class="r_bar"></span>
                    </div>
                </div>
                <p><%= p.percent.toFixed(0) %>%</p>
            </li>
          <% }); %>
        </ul>
    </div>
  <% } %>

  <% if(stats.coverage) { %>
    <div class="block">
        <span class="title">
            <h2 class="nohelp">COVERAGE STATICTICS</h2>
            <p>&nbsp;</p>
        </span>
        <ul class="normal list">
          <% _.each(stats.coverage, function(v, k) { %>
            <li>
              <h5 class="stats"><%= k %></h5>
                <div class="stats_bar">
                    <span class="r_bar" style="width: <%=v %>%"></span>
                </div>
                <p><%= v.toFixed(0) %>%</p>
            </li>
          <% }); %>
        </ul>
    </div>
  <% } %>


  <% if(stats.conservation_priority_areas && stats.conservation_priority_areas.length > 0) { %>
    <div class="block">
        <span class="title">
            <h2>CONSERVATION PRIORITIES</h2>
            <p>&nbsp;</p>
        </span>
        <ul class="down list">
            <% _.each(stats.conservation_priority_areas, function(area) { %>
            <li>
                <h5><%= area.name %></h5>
                <ul>
                    <li class="hst">
                        <h6>Highest</h6>
                        <div class="stats_bar"><span class="r_bar" style="width: <%= area.percents[0] %>%"></span></div>
                    </li>
                    <li class="h">
                        <h6>High</h6>
                        <div class="stats_bar"><span class="r_bar" style="width: <%= area.percents[1] %>%"></span></div>
                    </li>
                    <li class="m">
                        <h6>Med</h6>
                        <div class="stats_bar"><span class="r_bar" style="width: <%= area.percents[2] %>%"></span></div>
                    </li>
                    <li class="l">
                        <h6>Low</h6>
                        <div class="stats_bar"><span class="r_bar" style="width: <%= area.percents[3] %>%"></span></div>
                    </li>
                    <li class="out">
                        <h6>Outs.</h6>
                        <div class="stats_bar"><span class="r_bar" style="width: <%= area.percents[4] %>%"></span></div>
                    </li>
                </ul>
            </li>
          <% }); %>
        </ul>
    </div>
  <% } %>

  <div style="padding-top: 60px; float:left;"></div>

</div>
